.services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    aspect-ratio: 16 / 9;
    margin: 50px 325px;
    position: relative;
    transition: all 700ms ease-in-out;
}

@media screen and (max-width: 768px){
    .services{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin: 50px 0;
    }
}