.services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    aspect-ratio: 16 / 9;
    margin: calc((100vh/1920)*50) calc((100vh/1920)*300);
    position: relative;
    transition: all 700ms ease-in-out;
}

@media screen and (max-width: 1100px){
    .services{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin: 0 calc((100vw/393)*15);
        gap: calc((100vw/393)*15);
    }
}