.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #747bff;
    text-align: center;
    cursor: pointer;
    padding: 30px;
    transition: all 500ms ease-in-out;
}

.crousal{
    display: none;
}

.card:hover{
    background-color: black;
    position: absolute;
    inset: 0;
    >.crousal{
        display: block;
        height: 100%;
        width: 100%;
       }
       >.intro{
        display: none;
       }
}

@media screen and (max-width: 768px){
   .card:hover{
    position:static;
   } 
}