.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #747bff;
    text-align: center;
    cursor: pointer;
    padding: calc((100vw/1920)*30);
    transition: all 500ms ease-in-out;
    position: relative;
    height: auto;
}

.background{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    object-fit: cover;
    opacity: 0.1;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: calc((100vw/1920)*20);
}

.intro h2{
    font-size: calc((100vw/1920)*40);
}

.intro p{
    font-size: calc((100vw/1920)*20);
}

.crousal{
    display: none;
    /* max-width: 41%; */
    position: absolute;
    inset: 0;
    z-index: 200;
    overflow: hidden;
}
.crousalSlider {
    width: 85%;
    margin: auto;
}

.card:hover{
    background-color: black;
    position: absolute;
    z-index: 10;
    inset: 0;
    >.crousal{
        display: flex;
       }
       >.intro{
        display: none;
       }
}

@media screen and (max-width: 1100px){
   .card:hover{
    position: relative;
   }
   .card{
    flex-direction: row;
    height: calc((100vh/393)*150);
    padding: calc((100vw/393)*15);
   }
   .intro{
    gap: calc((100vw/393)*10);
   }
   .intro h2{
   font-size: calc((100vw/393)*12);
   }
   .intro p{
   font-size: calc((100vw/393)*10);
   }

}