.processContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: calc((100vw / 1920)* 30) calc((100vw / 1920)* 50);
    margin: 30px 0;
    gap: calc((100vw/ 1920)*15);
}

.intro{
    font-size: calc((100vw / 1920)*30)
}

.process{
    display: grid;
    width: 50%;
    height: calc((100vw/1920)*770);
    aspect-ratio: 16 / 9;
    position: relative;
}

.image{
    background: url(/assets/printingMechine.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    justify-self: center;
    align-self: center;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 1);
    aspect-ratio: 4/3;
    overflow: hidden;
    border-radius: 20px;
}

@media screen and (max-width: 768px){

    .processContainer{
        flex-direction: column;
        padding: calc((100vw / 393)* 30) calc((100vw / 393)* 15);
        gap: calc((100vw/ 393)*20);
    }
    .intro{
        text-align: center;
        font-size: calc((100vw / 393)* 8);
    }
    .image{
        display: none;
    }
    .process{
        background:url('/assets/printingMechine.png');
        background-repeat: no-repeat;
        background-size: cover;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        aspect-ratio: 0;
        height: calc((100vw / 393)* 362);
        width: auto;
    }
}