.quality{
    display: grid;
    grid-template-columns: 1fr;
    gap: calc((100vw/1920)*20);
    margin: 50px 0;
    background: url('/assets/funnyMore.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 768px){
    .quality{
        padding: calc((100vw/393)*15) 0;
        gap: calc((100vw/393)*25);
    }
}