.reviews{
    font-size: calc((100vw / 1920)*20);
    text-align: center;
    padding: calc((100vw/ 1920)*20) 0;
}

.crousal{
    padding: calc((100vw/ 1920)*100) 0;
}

@media screen and (max-width: 768px){
    .reviews{
        font-size: calc((100vw / 393)*9);
        padding: calc((100vw/ 393)*10) 0;
    }
    .crousal{
        padding: calc((100vw/ 393)*35) 0;
    }
}