.top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: calc((100vw/1920)*50);
    align-items: center;
    margin: calc((100vw/1920)*30) 0;
    padding: calc((100vw/1920)*30);
    background: #2f2f2f;
  }

  .query{
    display: flex;
    flex-direction: column;
    gap: calc((100vw/1920)*20);
    padding: 0 calc((100vw/1920)*50);
  }
  
  .query input{
    align-self: start;
    padding: calc((100vw/1920)*5) calc((100vw/1920)*7);
  }

  .query textarea{
    padding: calc((100vw/1920)*10) calc((100vw/1920)*15);
    resize: none;
  }

  .queryImg{
    height: calc((100vw/1920)*300);
  }

  .queryImg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .center {
    display: flex;
    gap: calc((100vw/1920)*50);
    width: 80%;
    margin: calc((100vw/1920)*100) auto;
  }
  
  .centerElements {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc((100vw/1920)*50);
    font-size: calc((100vw/1920)*20);
  }
  
  .view {
    display: flex;
    flex-direction : column;
    gap: calc((100vw/1920)*10);
    width: inherit;
  }
  
  .bottom {
    display: grid;
    grid-template-rows: auto auto;
    gap: calc((100vw/1920)*15);
    background: #2f2f2f;
    padding: calc((100vw/1920)*30);
  }
  
  .heading {
    font-size: calc((100vw/1920)*30);
    color: #6c63ff;
  }

  .location{
    font-size: calc((100vw/1920)*20);
    padding-left: calc((100vw/1920)*50);
  }

  @media screen and (max-width: 1100px) {
    .top{
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      gap: calc((100vw/393)*25);
      margin: calc((100vw/393)*30) 0;
      padding: calc((100vw/393)*15);
    }

    .query{
      gap: calc((100vw/393)*15);
      padding: 0 calc((100vw/393)*20);
    }

    .query input{
      padding: calc((100vw/393)*5) calc((100vw/393)*7);
    }
  
    .query textarea{
      padding: calc((100vw/393)*5) calc((100vw/393)*10);
    }

    .queryImg{
      height: calc((100vw/393)* 190);
    }

    .center{
      width: 100%;
      margin: calc((100vw/393)*50) 0;
    }

    .bottom{
      gap: calc((100vw/393)*10);
      padding: calc((100vw/393)*15);
    }

    .heading {
      font-size: calc((100vw/393)*20);
    }
  
    .location{
      font-size: calc((100vw/393)*12);
      padding-left: 0;
    }
  
  }
