.card {
  min-width: calc((100vw / 1920)* 350);
  max-width: calc((100vw / 1920)* 350);
  background: white;
  color: black;
  box-shadow: -2px -2px 10px 0px black;
  border: calc((100vw/1920)*10) outset white;
  border-style: outset;
  display: grid;
  grid-template-rows: auto auto;
  font-size: calc((100vw/1920)*20);
  box-sizing: border-box;
  cursor: pointer;
}

.cardDetails {
  display: grid;
  grid-template-rows: auto auto auto;
  text-align: center;
  padding: calc((100vw/1920)*10) calc((100vw/1920)*30);
  gap: calc((100vw/1920)*5);
}

.price {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.image {
  position: relative;
  scale: 1;
}

/* .price{
    position: absolute;
    height: 20px;
    min-width: 50px;
  bottom: 0;
  right: 0;
  background-color: #f4c85e;
  box-shadow: 0px 0px 2px 0px black;
  color: black;
  text-align: center;
  font-size: 12px;
  border-radius: 3px 0 0 0;
} */

/* .description{
  height: 10%;
  display: flex;
  align-items: center;
} */

.card:hover {
  background: #f2c94a;
  box-shadow: none;

  >.image {
    scale: 0.9;
  }
}

@media screen and (max-width: 1100px) {
  .card {
    min-width: calc((100vw / 393)* 180);
    max-width: calc((100vw / 393)* 180);
    border-width: calc((100vw/393)*5);
    font-size: calc((100vw/393)*12);
  }

  .cardDetails{
    padding: calc((100vw/393)*10) calc((100vw/393)*10);
    gap: calc((100vw/393)*5);
  }

}