.card {
    height: calc((100vw/1920)*400);
    min-width: calc((100vw/1920)*300);
    max-width: calc((100vw/1920)*300);
    background: #999b9d;
    box-shadow: 0px 0px 2px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: calc((100vw/1920)*20);
}

.image{
  width: 95%;
  height: 80%;
  border: 1px solid green;
  cursor: pointer;
  position: relative;
}

.description{
  height: 10%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1100px){
    .card{
        height: calc((100vw / 393)* 180);
        min-width: calc((100vw / 393)* 130);
        max-width: calc((100vw / 393)* 130);
        font-size: calc((100vw/393)*12);
    }
    
}