.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a3b3c;
    padding: calc((100vw/ 1920)*15) calc((100vw / 1920)* 20);
    font-size: calc((100vw /1920)*16);
}

.info {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-around;
}

.route {
    width: calc(100% - 50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: calc((100vw/1920)*50);
}
.active {
    color: #646cff;
}
.hamburgerCont{
    display: none;
}

@media (max-width: 768px) {
    .logo{
        height: calc((100vw/393)*40);
    }
    .route{
        display: none;
    }
    .hamburgerCont{
        display: block;
    }
}