.blogCard {
    border: solid 1px white;
    border-radius: calc((100vw / 1920)* 10);
    width: 70vw;
    margin: auto;
    padding: calc((100vw / 1920)* 20);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1.5fr;
    gap: 30px;
    align-items: center;
   

}

.blogDetails {
    display: grid;
    align-items: center;
    gap:calc((100vw/1920)*20)
}

.blogDetailPos{
    grid-area: 1/1;
}
.blogTitle {
    color: white;
    font-size: calc((100vw / 1920)* 25);

}

.blogDesc {
    color: white;
    font-size: calc((100vw / 1920)* 20);
}

.blogCardImg {
    height: auto;
    width: 100%;
    border-radius: 10px;
    
}

.blogButton {
    color: rgb(0, 0, 0);
    font-size: calc((100vw / 1920)* 20);
    padding: calc((100vw / 1920)* 10);
    padding-right: calc((100vw / 1920)* 25);
    padding-left: calc((100vw / 1920)* 25);
    border-radius: calc((100vw / 1920)* 10);
    cursor: pointer;
    transition: all 400ms ease-in-out;
    background-color: rgb(255, 255, 255, 0.7);
    backdrop-filter: blur(30px);

}

.blogButton:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

@media (max-width: 1100px) {
    .blogCard {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .blogCardImg{
        grid-area: '1/1';
    }
    .blogDetails{
        grid-area: '2/1';
    }

    .blogTitle {
        color: white;
        font-size: calc((100vw / 1920)* 25);


    }


}