.accordion {
  background-color: #363636;
  color: #dadada;
  cursor: pointer;
  padding: calc((100vw/1920)*15);
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: calc((100vw/1920)*18);
  transition: 0.4s;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.panel {
  padding: calc((100vw/1920)*20);
  font-size: calc((100vw/1920)*20);
  display: none;
  background-color: rgb(26, 25, 25);
  overflow: hidden;
  color: #dddada;
}
.panel p{
  line-height: 1.5;
}

.active,
.accordion:hover {
  color: black;
  background-color: #f2c94a;
  box-shadow: 0px 2px 15px rgb(134 115 1);
}

@media screen and (max-width: 1100px) {
   .accordion {
        font-size: calc((100vw/393)*10);
        padding: calc((100vw/393)*10);
    }
   .panel {
        font-size: calc((100vw/393)*12);
        padding: calc((100vw/393)*10);
    }
}