.ourBlog {
    background-color: rgb(0, 0, 0, 0.9);
    backdrop-filter: blur(100px);
    display: grid;
    gap: calc((100vw/1920)*30);
    font-size: calc((100vw/1920)*30);
    justify-items: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 1100px) {
   .ourBlog{
    font-size: calc((100vw/393)*15);
    gap: calc((100vw/393)*20);
   }
}